.footer{
    background-color: rgb(20, 18, 20);
   
    .RowCopyright{
        background-color: rgb(75, 38, 62);
        .copyright {
            text-align: center;
            margin: auto;
            color:white;
        }
    }
}